linux-xlnx/
u-boot-xlnx/
ompi/
buildroot/
buildroot-phantom/board/phantom_zynq/overlay/opt/openmpi/
buildroot-phantom/board/phantom_zynq/overlay/lib/modules/
buildroot-phantom/board/phantom_zynq/overlay/usr/include/phantom_api.h
buildroot-phantom/board/phantom_zynq/overlay/usr/include/phantom_api_lowlevel.h
buildroot-phantom/board/phantom_zynq/overlay/usr/include/phantom_xml_parser.h
buildroot-phantom/board/phantom_zynq/overlay/usr/lib/libphantom.so
multistrap/rootfs/
rootfs/
hwproj/
fsbl/
images/
*.DS_Store
*~
.vscode

# Vivado outputs a large amount of files to the current directory we need to ignore
vivado.log
vivado.jou
webtalk.log
webtalk.jou
vivado_pid*.str
vivado_pid*.debug
*.backup.jou
*.backup.log
.Xil/
