SUBSYSTEM=="uio", KERNELS=="*.phantom_0_slave",  SYMLINK+="phantom/0/control",  OWNER="phantom0",  GROUP="phantom0",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_1_slave",  SYMLINK+="phantom/1/control",  OWNER="phantom1",  GROUP="phantom1",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_2_slave",  SYMLINK+="phantom/2/control",  OWNER="phantom2",  GROUP="phantom2",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_3_slave",  SYMLINK+="phantom/3/control",  OWNER="phantom3",  GROUP="phantom3",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_4_slave",  SYMLINK+="phantom/4/control",  OWNER="phantom4",  GROUP="phantom4",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_5_slave",  SYMLINK+="phantom/5/control",  OWNER="phantom5",  GROUP="phantom5",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_6_slave",  SYMLINK+="phantom/6/control",  OWNER="phantom6",  GROUP="phantom6",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_7_slave",  SYMLINK+="phantom/7/control",  OWNER="phantom7",  GROUP="phantom7",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_8_slave",  SYMLINK+="phantom/8/control",  OWNER="phantom8",  GROUP="phantom8",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_9_slave",  SYMLINK+="phantom/9/control",  OWNER="phantom9",  GROUP="phantom9",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_10_slave", SYMLINK+="phantom/10/control", OWNER="phantom10", GROUP="phantom10", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_11_slave", SYMLINK+="phantom/11/control", OWNER="phantom11", GROUP="phantom11", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_12_slave", SYMLINK+="phantom/12/control", OWNER="phantom12", GROUP="phantom12", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_13_slave", SYMLINK+="phantom/13/control", OWNER="phantom13", GROUP="phantom13", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_14_slave", SYMLINK+="phantom/14/control", OWNER="phantom14", GROUP="phantom14", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_15_slave", SYMLINK+="phantom/15/control", OWNER="phantom15", GROUP="phantom15", MODE="0600"

SUBSYSTEM=="uio", KERNELS=="*.phantom_0_master",  SYMLINK+="phantom/0/mem",  OWNER="phantom0",  GROUP="phantom0",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_1_master",  SYMLINK+="phantom/1/mem",  OWNER="phantom1",  GROUP="phantom1",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_2_master",  SYMLINK+="phantom/2/mem",  OWNER="phantom2",  GROUP="phantom2",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_3_master",  SYMLINK+="phantom/3/mem",  OWNER="phantom3",  GROUP="phantom3",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_4_master",  SYMLINK+="phantom/4/mem",  OWNER="phantom4",  GROUP="phantom4",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_5_master",  SYMLINK+="phantom/5/mem",  OWNER="phantom5",  GROUP="phantom5",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_6_master",  SYMLINK+="phantom/6/mem",  OWNER="phantom6",  GROUP="phantom6",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_7_master",  SYMLINK+="phantom/7/mem",  OWNER="phantom7",  GROUP="phantom7",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_8_master",  SYMLINK+="phantom/8/mem",  OWNER="phantom8",  GROUP="phantom8",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_9_master",  SYMLINK+="phantom/9/mem",  OWNER="phantom9",  GROUP="phantom9",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_10_master", SYMLINK+="phantom/10/mem", OWNER="phantom10", GROUP="phantom10", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_11_master", SYMLINK+="phantom/11/mem", OWNER="phantom11", GROUP="phantom11", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_12_master", SYMLINK+="phantom/12/mem", OWNER="phantom12", GROUP="phantom12", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_13_master", SYMLINK+="phantom/13/mem", OWNER="phantom13", GROUP="phantom13", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_14_master", SYMLINK+="phantom/14/mem", OWNER="phantom14", GROUP="phantom14", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_15_master", SYMLINK+="phantom/15/mem", OWNER="phantom15", GROUP="phantom15", MODE="0600"
