SUBSYSTEM=="uio", ATTR{name}=="phantom00_slave_*", SYMLINK+="phantom/by-id/0/control",  PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/control" OWNER="phantom0",  GROUP="phantom0",  MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom01_slave_*", SYMLINK+="phantom/by-id/1/control",  PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/control" OWNER="phantom1",  GROUP="phantom1",  MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom02_slave_*", SYMLINK+="phantom/by-id/2/control",  PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/control" OWNER="phantom2",  GROUP="phantom2",  MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom03_slave_*", SYMLINK+="phantom/by-id/3/control",  PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/control" OWNER="phantom3",  GROUP="phantom3",  MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom04_slave_*", SYMLINK+="phantom/by-id/4/control",  PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/control" OWNER="phantom4",  GROUP="phantom4",  MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom05_slave_*", SYMLINK+="phantom/by-id/5/control",  PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/control" OWNER="phantom5",  GROUP="phantom5",  MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom06_slave_*", SYMLINK+="phantom/by-id/6/control",  PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/control" OWNER="phantom6",  GROUP="phantom6",  MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom07_slave_*", SYMLINK+="phantom/by-id/7/control",  PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/control" OWNER="phantom7",  GROUP="phantom7",  MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom08_slave_*", SYMLINK+="phantom/by-id/8/control",  PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/control" OWNER="phantom8",  GROUP="phantom8",  MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom09_slave_*", SYMLINK+="phantom/by-id/9/control",  PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/control" OWNER="phantom9",  GROUP="phantom9",  MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom10_slave_*", SYMLINK+="phantom/by-id/10/control", PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/control" OWNER="phantom10", GROUP="phantom10", MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom11_slave_*", SYMLINK+="phantom/by-id/11/control", PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/control" OWNER="phantom11", GROUP="phantom11", MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom12_slave_*", SYMLINK+="phantom/by-id/12/control", PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/control" OWNER="phantom12", GROUP="phantom12", MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom13_slave_*", SYMLINK+="phantom/by-id/13/control", PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/control" OWNER="phantom13", GROUP="phantom13", MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom14_slave_*", SYMLINK+="phantom/by-id/14/control", PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/control" OWNER="phantom14", GROUP="phantom14", MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom15_slave_*", SYMLINK+="phantom/by-id/15/control", PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/control" OWNER="phantom15", GROUP="phantom15", MODE="0600"

SUBSYSTEM=="uio", ATTR{name}=="phantom00_master_*", SYMLINK+="phantom/by-id/0/mem",  PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/mem" OWNER="phantom0",  GROUP="phantom0",  MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom01_master_*", SYMLINK+="phantom/by-id/1/mem",  PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/mem" OWNER="phantom1",  GROUP="phantom1",  MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom02_master_*", SYMLINK+="phantom/by-id/2/mem",  PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/mem" OWNER="phantom2",  GROUP="phantom2",  MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom03_master_*", SYMLINK+="phantom/by-id/3/mem",  PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/mem" OWNER="phantom3",  GROUP="phantom3",  MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom04_master_*", SYMLINK+="phantom/by-id/4/mem",  PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/mem" OWNER="phantom4",  GROUP="phantom4",  MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom05_master_*", SYMLINK+="phantom/by-id/5/mem",  PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/mem" OWNER="phantom5",  GROUP="phantom5",  MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom06_master_*", SYMLINK+="phantom/by-id/6/mem",  PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/mem" OWNER="phantom6",  GROUP="phantom6",  MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom07_master_*", SYMLINK+="phantom/by-id/7/mem",  PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/mem" OWNER="phantom7",  GROUP="phantom7",  MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom08_master_*", SYMLINK+="phantom/by-id/8/mem",  PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/mem" OWNER="phantom8",  GROUP="phantom8",  MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom09_master_*", SYMLINK+="phantom/by-id/9/mem",  PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/mem" OWNER="phantom9",  GROUP="phantom9",  MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom10_master_*", SYMLINK+="phantom/by-id/10/mem", PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/mem" OWNER="phantom10", GROUP="phantom10", MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom11_master_*", SYMLINK+="phantom/by-id/11/mem", PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/mem" OWNER="phantom11", GROUP="phantom11", MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom12_master_*", SYMLINK+="phantom/by-id/12/mem", PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/mem" OWNER="phantom12", GROUP="phantom12", MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom13_master_*", SYMLINK+="phantom/by-id/13/mem", PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/mem" OWNER="phantom13", GROUP="phantom13", MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom14_master_*", SYMLINK+="phantom/by-id/14/mem", PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/mem" OWNER="phantom14", GROUP="phantom14", MODE="0600"
SUBSYSTEM=="uio", ATTR{name}=="phantom15_master_*", SYMLINK+="phantom/by-id/15/mem", PROGRAM="/bin/sh -c 'echo %s{name} | cut -d _ -f 3-'", SYMLINK+="phantom/by-name/%c/mem" OWNER="phantom15", GROUP="phantom15", MODE="0600"
