SUBSYSTEM=="uio", KERNELS=="*.phantom_slave_0",  SYMLINK+="phantom/0/control",  OWNER="phantom0",  GROUP="phantom0",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_slave_1",  SYMLINK+="phantom/1/control",  OWNER="phantom1",  GROUP="phantom1",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_slave_2",  SYMLINK+="phantom/2/control",  OWNER="phantom2",  GROUP="phantom2",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_slave_3",  SYMLINK+="phantom/3/control",  OWNER="phantom3",  GROUP="phantom3",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_slave_4",  SYMLINK+="phantom/4/control",  OWNER="phantom4",  GROUP="phantom4",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_slave_5",  SYMLINK+="phantom/5/control",  OWNER="phantom5",  GROUP="phantom5",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_slave_6",  SYMLINK+="phantom/6/control",  OWNER="phantom6",  GROUP="phantom6",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_slave_7",  SYMLINK+="phantom/7/control",  OWNER="phantom7",  GROUP="phantom7",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_slave_8",  SYMLINK+="phantom/8/control",  OWNER="phantom8",  GROUP="phantom8",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_slave_9",  SYMLINK+="phantom/9/control",  OWNER="phantom9",  GROUP="phantom9",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_slave_10", SYMLINK+="phantom/10/control", OWNER="phantom10", GROUP="phantom10", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_slave_11", SYMLINK+="phantom/11/control", OWNER="phantom11", GROUP="phantom11", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_slave_12", SYMLINK+="phantom/12/control", OWNER="phantom12", GROUP="phantom12", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_slave_13", SYMLINK+="phantom/13/control", OWNER="phantom13", GROUP="phantom13", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_slave_14", SYMLINK+="phantom/14/control", OWNER="phantom14", GROUP="phantom14", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_slave_15", SYMLINK+="phantom/15/control", OWNER="phantom15", GROUP="phantom15", MODE="0600"

SUBSYSTEM=="uio", KERNELS=="*.phantom_master_0",  SYMLINK+="phantom/0/mem",  OWNER="phantom0",  GROUP="phantom0",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_master_1",  SYMLINK+="phantom/1/mem",  OWNER="phantom1",  GROUP="phantom1",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_master_2",  SYMLINK+="phantom/2/mem",  OWNER="phantom2",  GROUP="phantom2",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_master_3",  SYMLINK+="phantom/3/mem",  OWNER="phantom3",  GROUP="phantom3",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_master_4",  SYMLINK+="phantom/4/mem",  OWNER="phantom4",  GROUP="phantom4",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_master_5",  SYMLINK+="phantom/5/mem",  OWNER="phantom5",  GROUP="phantom5",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_master_6",  SYMLINK+="phantom/6/mem",  OWNER="phantom6",  GROUP="phantom6",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_master_7",  SYMLINK+="phantom/7/mem",  OWNER="phantom7",  GROUP="phantom7",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_master_8",  SYMLINK+="phantom/8/mem",  OWNER="phantom8",  GROUP="phantom8",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_master_9",  SYMLINK+="phantom/9/mem",  OWNER="phantom9",  GROUP="phantom9",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_master_10", SYMLINK+="phantom/10/mem", OWNER="phantom10", GROUP="phantom10", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_master_11", SYMLINK+="phantom/11/mem", OWNER="phantom11", GROUP="phantom11", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_master_12", SYMLINK+="phantom/12/mem", OWNER="phantom12", GROUP="phantom12", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_master_13", SYMLINK+="phantom/13/mem", OWNER="phantom13", GROUP="phantom13", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_master_14", SYMLINK+="phantom/14/mem", OWNER="phantom14", GROUP="phantom14", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="*.phantom_master_15", SYMLINK+="phantom/15/mem", OWNER="phantom15", GROUP="phantom15", MODE="0600"
