SUBSYSTEM=="uio", KERNELS=="40000000.phantom_0",  SYMLINK+="phantom/component0",  OWNER="phantom0",  GROUP="phantom0",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="41000000.phantom_1",  SYMLINK+="phantom/component1",  OWNER="phantom1",  GROUP="phantom1",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="42000000.phantom_2",  SYMLINK+="phantom/component2",  OWNER="phantom2",  GROUP="phantom2",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="43000000.phantom_3",  SYMLINK+="phantom/component3",  OWNER="phantom3",  GROUP="phantom3",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="44000000.phantom_4",  SYMLINK+="phantom/component4",  OWNER="phantom4",  GROUP="phantom4",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="45000000.phantom_5",  SYMLINK+="phantom/component5",  OWNER="phantom5",  GROUP="phantom5",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="46000000.phantom_6",  SYMLINK+="phantom/component6",  OWNER="phantom6",  GROUP="phantom6",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="47000000.phantom_7",  SYMLINK+="phantom/component7",  OWNER="phantom7",  GROUP="phantom7",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="48000000.phantom_8",  SYMLINK+="phantom/component8",  OWNER="phantom8",  GROUP="phantom8",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="49000000.phantom_9",  SYMLINK+="phantom/component9",  OWNER="phantom9",  GROUP="phantom9",  MODE="0600"
SUBSYSTEM=="uio", KERNELS=="4a000000.phantom_10", SYMLINK+="phantom/component10", OWNER="phantom10", GROUP="phantom10", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="4b000000.phantom_11", SYMLINK+="phantom/component11", OWNER="phantom11", GROUP="phantom11", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="4c000000.phantom_12", SYMLINK+="phantom/component12", OWNER="phantom12", GROUP="phantom12", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="4d000000.phantom_13", SYMLINK+="phantom/component13", OWNER="phantom13", GROUP="phantom13", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="4e000000.phantom_14", SYMLINK+="phantom/component14", OWNER="phantom14", GROUP="phantom14", MODE="0600"
SUBSYSTEM=="uio", KERNELS=="4f000000.phantom_15", SYMLINK+="phantom/component15", OWNER="phantom15", GROUP="phantom15", MODE="0600"
